{% extends 'base.html' %}
{% block content %}
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/styles.css" rel="stylesheet">
  <body class="bg-light"> 
    {% for message in get_flashed_messages() %}
<body class="bg-light"> 
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
 {% endfor %}
    <div class="container">
        </div> 
        <table class="table table-hover table-bordered table-striped">
        {% for users_list in users_list %}
        <tr>
          <td>
        {{ users_list.id }}.{{ users_list.username }} - {{ users_list.email }}
        <a href="{{ url_for('remove_user', id = users_list.id) }}">Delete</a>
        <a href="{{ url_for('update', id = users_list.id) }}">Update</a>
        {% endfor %}
      
      </td>
        </tr>
        </table> 
  </body>  
{% endblock %}