{% extends 'base.html' %}
{% block content %}
  <link href="/static/css/styles.css" rel="stylesheet">
  <body class="bg-light"> 
    <div class="container">
      <div class="row mt-5">
        <div class="col-lg-5 bg-white m-auto rounded-top wrapper">
          <h2 class="text-center pt-3">Login Now</h2>
          <p class="text-center text-muted lead">Welcome to LiMin's Portfolio</p>
        <form action="login" class="py-3" method="POST">
          {% for message in get_flashed_messages() %}
          <div class="alert alert-danger d-flex align-items-left" role="alert">
            <div>
              {{ message }}
            </div>
          </div>
           {% endfor %}
          {{ form.csrf_token }}
          <div class="input-group mb-3">
            <span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
              <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
            </svg></span> 
            {{ form.username(class="form-control",value="Username",onfocus="this.value = '';", 
            onblur="if (this.value=='') {this.value ='Username';}", placeholder="Your Name")}}  
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
              <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
            </svg></span>
            {{ form.password(class="form-control",value="Password",onfocus="this.value = '';", 
            onblur="if (this.value=='') {this.value ='Password';}", placeholder="Password")}}   
            </div>   
            <div class="d-grid">
              {{ form.submit(class="btn btn-success",onclick="myFunction()",value="Login")}} 
              <br/>

              <p class="text-center" >
                Do not Have Account ? <a href="{{ url_for('register') }}"> Register Now </a>
              </p>
            </div>
          </form> 
        </div> 
      </div>      
    </div> 
  </body>

{% endblock %}