{% extends "base.html" %}
{% block content %}
{% for message in get_flashed_messages() %}
<div class="alert alert-danger d-flex align-items-left" role="alert">
  <div>
    {{ message }}
  </div>
</div>
 {% endfor %}
{% endblock content %}

<!-- {% for post in posts %}
  <p><a href="{{ url_for('post', post_id=post.id) }}">
    <img src="{{ url_for('static', filename='img/' + post.image_file) }}"></p>
    <p>  "{{ post.title }}"</a></p>
    <p>by {{ post.user.username }}</p>
    <p>{{ post.content }}</p>
	<p></p>
{% endfor %} -->


