{% extends "base.html" %}
{% block content %}
<link href="/static/css/styles.css" rel="stylesheet">
{% for message in get_flashed_messages() %}
<body class="bg-light"> 
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
 {% endfor %}
<h1>Users' Comments</h1><a href="{{ url_for('add_post')}}" class="btn btn-outline-secondary">Write Your Own Comment >></a>
<br/>
<br/>
<div>
{% for post in posts %}

<div class="card p-1 mb-3 rounded">
    <div class="card-body">
        <div calss="">
            {% if post.user.image_file %}
            <img src="{{ url_for('static',filename='img/' + post.user.image_file)  }}" width="150">
            {% else %}
            <img src="{{ url_for('static',filename='img/default.jpg')  }}" width="150">
            {% endif %}
            </div>
    commented by :&ensp; {{ post.author_id }}<br/>
    {{ post.title }}<br/>
    {{ post.content|safe }}<br/>
    Date Posted :&ensp; {{ post.date }} 
    {{ post.slug }}
    <br/>
    <div class="collapese" id="comments-{{post.id}}">
      <div class="card">
        <div class="card-body" id="comments-expanded-{{post.id}}">
          {% for c in post.comment %}
          <div class="d-flex justify-content-between align-items-center">
            <div>
           {{c.user.username}}:{{c.text}}
          </div>
           <div><small class='text-muted'>{{c.date}}</small></div>
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-primary">
          <ul><li><a href="/delete-comment/{{c.id}}">Delete</a></li></ul>
            </button>
          </div>
          {% endfor %}   
        </div>
      </div>
    </div>
     <form class="input-group mb-3" method="POST" action="create-comment/{{ post.id }}" >
      <input type="text" id="text" name="text" class="form-control" placeholder="Leave your reply!">
      <button type="submit" class="btn btn-primary">Reply</button>
      {{ form.hidden_tag() }}
     </form>
    <br/>
    <br/>
    {% if post.author_id == current_user.id %}
    <a href="{{ url_for('post',post_id=post.id)}}" class="btn btn-outline-secondary">View Comment detail</a>
    <a href="{{ url_for('edit_post',post_id=post.id)}}" class="btn btn-outline-secondary">Edit Comment</a>
    <a href="{{ url_for('delete_post',post_id=post.id)}}" class="btn btn-outline-danger">Delete Comment</a>
    {% else %} 
    <a href="{{ url_for('post',post_id=post.id)}}" class="btn btn-outline-secondary">View Comment detail</a>
    {% endif %}
</div>
</div>
{% endfor %}     
</div>  
{% endblock content %}