{% extends "base.html" %}
{% block content %}
<link href="/static/css/styles.css" rel="stylesheet">
<h1>Comment Detail</h1>
<br/>
<div class="card p-1 mb-3 rounded">
    <div class="card-body">
        <div calss="">
            {% if post.user.image_file %}
            <img src="{{ url_for('static',filename='img/' + post.user.image_file)  }}" class="rounded-circle shadow-4-strong" width="80">
            {% else %}
            <img src="{{ url_for('static',filename='img/default.jpg')  }}" class="rounded-circle shadow-4-strong" width="80">
            {% endif %}
            <span class="fs-3">&ensp; {{ post.user.username }}</span>&ensp;<br/>&ensp;<span class="text muted">{{ post.date }}</span>&ensp;|&ensp;<span class="text muted">{{ post.slug }}</span>
            </div>
    <span class="fs-4">{{ post.title }}</span><br/>
    <p>{{ post.content }}</p>
 
    {% if post.author_id == current_user.id %}
    <a href="{{ url_for('post',post_id=post.id)}}" class="btn btn-outline-secondary">View Comment detail</a>
    <a href="{{ url_for('edit_post',post_id=post.id)}}" class="btn btn-outline-secondary">Edit Comment</a>
    <a href="{{ url_for('delete_post',post_id=post.id)}}" class="btn btn-outline-danger">Delete Comment</a>  
    {% else %} 
    <a href="{{ url_for('posts')}}" class="btn btn-outline-secondary">Back to Comment List >></a>
    {% endif %}
</div>
</div>
 

{% endblock content %}