{% extends 'base.html' %}
{% block content %}
<a href="{{ url_for('dashboard') }}" class="text-decoration-none"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
</svg>&ensp;&ensp;Back to User Profile Page</a>
<br/>
{% for message in get_flashed_messages() %} 
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}
{% if username %}
<h1 style="text-align:center">Update User!</h1>
<table class="table table-hover table-bordered table-striped">
    {% for users_list in users_list %}
    <tr>
      <td>
    {{ users_list.id }}.{{ users_list.username }} - {{ users_list.email }}
   {% endfor %}
  </td>
    </tr>
    </table> 
    {% else %}
    <div class="shadow p-3 mb-5 mt-3 bg-body rounded">
    <form action="/update/{{ user_update.id }}" method="POST" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      {{ form.username.label(class="form-label") }}
      {{ form.username(class="form-control",value=user_update.username) }}
      <br/>
      {{ form.email.label(class="form-label") }}
      {{ form.email(class="form-control",value=user_update.email) }}
      <br/>
      {{ form.image_file.label(class="form-label") }}
      {{ form.image_file(class="form-control",value=user_update.image_file) }}
      <br/>
      {{ form.submit(class="form-control btn btn-success")}}
    </form>
    </div>
    {% endif %}
{% endblock %}
